*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(185, 75%, 39%);
    overflow: hidden;
}
.card{
    width:25%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 0px 50px -27px hsl(0deg 0% 0%);
}
.profile{
    width: 100%;
    text-align: center;
}
.profile-pic{
    margin-top: -70px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}
.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.background-circles-top{
    position:fixed; 
    top:-50%; 
    left:-20%; 
    z-index: 1;
}
.background-circles-bottom{
    position:fixed; 
    bottom:-50%; 
    right:-20%; 
    z-index: 1;

}
@media screen and (max-width: 375px) {
    .container{
        height: 100vh;
    }
    .card {
      width: 100%;
      margin: 1rem;
    }
    .background-circles-top{
        width: 100%;
        top:-25%;
        left: -40%;
    }
    .background-circles-bottom{
        width: 100%;
        bottom:-25%;
        right: -40%;
    }
}